body {
  background: url(mastermind-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.stack-container {
  height: 50px;
  width: 382px;
  border: 1px solid black;

  background: linear-gradient(#64646498, #b3b8f3);

  display: flex;
  flex-direction: row;
}

.initial-container {
  width: 382px;
  height: 75px;
  background: linear-gradient(#3a34349f, #3c3f5f);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container {
  width: 50%;
  height: 200px;
  display: flex;
  background: rgba(39, 37, 37, 0.609);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 200%;
  color: white;
  text-shadow: violet;
  border: 1px solid black;
  box-shadow: 0 0 10px 10px rgba(223, 36, 36, 0.644);
  margin-top: 40px;
  font-family: "Syne Mono", monospace;
  text-shadow: 2px 2px 3px rgb(255, 0, 43);
}
main {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

h1 {
  font-size: 175%;
}

.game-container {
  width: 662px;
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgb(255, 255, 255);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  box-shadow: 0 0 5px 5px rgb(255, 255, 255);
  cursor: pointer;
}

.box1 {
  background: linear-gradient(#e90b0b, #9198e5);
}

.box2 {
  background: linear-gradient(#fdef2a, #9198e5);
}

.box3 {
  background: linear-gradient(#273ae4, #9198e5);
}

.box4 {
  background: linear-gradient(#37e228, #9198e5);
}

.box5 {
  background: linear-gradient(#393939, #9198e5);
}

.box6 {
  background: linear-gradient(#eeeeee, #9198e5);
}

.box7 {
  background: linear-gradient(#e9801f, #9198e5);
}

.box8 {
  background: linear-gradient(#e54ef3, #9198e5);
}

.drop-container {
  height: 50px;
  width: 50px;

  display: flex;

  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.drop-container-inner {
  position: absolute;
  height: 50px;
  width: 42px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules-button {
  width: 62px;
  height: 49px;
  border: none;
  background: linear-gradient(#292727, #d8d52e);
  color: rgb(248, 244, 244);
  font-weight: 700;
  font-size: 90%;
  text-shadow: 1px 1px 2px rgb(7, 7, 7);
  font-family: "Turret Road", cursive;
  letter-spacing: 2px;
}

.rules-button:hover {
  box-shadow: 0 0 10px 10px rgb(255, 255, 255);
  cursor: pointer;
  z-index: 2;
}

.check-button {
  width: 62px;
  height: 49px;

  background: linear-gradient(#292727, #c51c1c);
  color: rgb(248, 244, 244);
  font-weight: 700;
  font-size: 85%;
  text-shadow: 1px 1px 2px rgb(7, 7, 7);
  font-family: "Turret Road", cursive;
  letter-spacing: 2px;
}

.clear-button {
  width: 62px;
  height: 49px;

  background: linear-gradient(#292727, #3b57b3);
  color: rgb(248, 244, 244);
  font-weight: 700;
  font-size: 85%;
  text-shadow: 1px 1px 2px rgb(7, 7, 7);
  font-family: "Turret Road", cursive;
  letter-spacing: 2px;
}

.check-button:hover {
  box-shadow: 0 0 10px 10px rgb(255, 255, 255);
  cursor: pointer;
  z-index: 2;
}

.clear-button:hover {
  box-shadow: 0 0 10px 10px rgb(255, 255, 255);
  cursor: pointer;
  z-index: 2;
}

.hint-container {
  height: 50px;
  width: 61px;
  border: 1px solid black;
  margin: 0;
  display: flex;

  resize: none;
}

.game {
  height: 705px;
  width: 387px;
  border: 3px solid rgba(0, 0, 0, 0.904);
}

.drop-circle {
  position: absolute;
  margin: -100px;
  width: 20px;
  height: 20px;
  background: #201f1f;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.726);
  z-index: -1;
}

.solution-div {
  height: 50px;

  border: 1px solid black;
  background: linear-gradient(#64646498, #b3b8f3);
  display: flex;
  flex-direction: row;
}

.solution-container {
  width: 198px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-right: 2px solid black;
}

.reset-button {
  width: 183px;
  height: 48px;
  border: none;
  background: linear-gradient(#292727, #1cc5af);
  color: white;
  font-weight: 800;
  text-shadow: 1px 1px 2px rgb(7, 7, 7);
  font-family: "Turret Road", cursive;
  letter-spacing: 2px;
}

.reset-button:hover {
  box-shadow: 0 0 10px 10px rgb(255, 255, 255);
  cursor: pointer;
  z-index: 2;
}

.peg {
  width: 15px;
  height: 48px;
  border: 1px solid black;
}

.hide {
  display: none;
}

.red-box-shadow {
  box-shadow: 0 0 10px 10px rgba(223, 36, 36, 0.644);
}
.green-box-shadow {
  box-shadow: 0 0 10px 10px rgba(40, 223, 15, 0.644);
}

.red-text-shadow {
  text-shadow: 2px 2px 3px rgb(255, 0, 43);
}

.green-text-shadow {
  text-shadow: 2px 2px 3px rgb(38, 255, 0);
}

.purple-box-shadow {
  box-shadow: 0 0 10px 10px rgba(148, 36, 223, 0.644);
}

.purple-text-shadow {
  text-shadow: 2px 2px 3px rgb(162, 0, 255);
}

.peg-blue {
  background: #273ae4;
}

.peg-yellow {
  background: #cccf18;
}

.peg-green {
  background: #21c321;
}

.peg-red {
  background: rgba(223, 36, 36, 0.644);
}

.opacity {
  background: linear-gradient(#64646481, #b3b8f378);
}

.disguised-ball {
  background: #1a2a6c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 0 5px 1px rgba(233, 23, 23, 0.904);
}
